* 
{
    margin: 0px;
    padding: 0px;
}

body 
    {   
        background-color: white; 
    }

a:link { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { color: rgb(0, 0, 0); text-decoration: none; }
a:active { color: rgb(0, 0, 0); text-decoration: none; }
a:visited { color: rgb(0, 0, 0); text-decoration: none; }

/* BARRA DE NAVEGAÇÃO */
nav 
{
    font-family: "Edu NSW ACT Foundation", bold;
    position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 70px;

        background-color: #D9D9D9;
        outline-width: 2px;
        outline-color: black;
        outline-style: solid;
}

li 
    {
        display: inline;
        float:right;
    }

ul {
        list-style-type: none;
        font-size: 25px;
    }

li a {
        display: block;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
    }  

li a:hover 
    {
        background-color: rgb(197, 196, 196);
    }

/* TEXTO */
h1
    {
        font-family: "Edu NSW ACT Foundation", bold;
        text-align: right; 
        font-size: 40px; 
        margin-right: 50px;
        margin-top: 120px;
        margin-bottom: 50px;
    }

/* MULTIMEDIA */
video
    {
        height: 500px;
        margin-right: 50px;
    }

/* GRELHA */

.container
  {
    display: grid;
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'aside header'
      'aside footer';
    background-color: blue;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 80px;
    font-family: "Open Sans";
  }

/* VIDEO */
.video 
    {
        background-color: aqua;
        grid-area: aside;
        place-content: center;
    }

.imagem>article>video
    {
        width:85%;
    }

/* INTRODUÇÃO */
.descricao
    {
        background-color: pink; 
        padding: 20px;
        padding-right: 0px;
        grid-area: header;
        place-content: center;
    }

.descricao>article
    {
        text-align: right;
    }

/* CREDITOS */
.creditos
    {
        background-color: orange;
        padding:20px;
        padding-right: 0px;
        grid-area: footer;
    }

.creditos>article
    {
        text-align: right;
    }


/* RODAPÉ */
footer
    {
        margin-top: 120px;
        margin-bottom: 20px;

        /* linha que separa o footer do resto */
        outline-width: 2px;
        outline-color: black;
        outline-style: solid;
        outline-offset: 20px;
    }

footer p
    {
        font-family: "Open Sans";
        text-align: center;
    }

/* ------ RESPONSIVE LAYOUTS ------ */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 0px) and (max-width: 600px)
{
    nav
        {
            height: 55px;
        }
    nav ul
        {
            font-size:20px;
        }
    nav li a
        {
            padding: 15px 15px;
        }
    h1 
        {
            font-size: 30px;
        }
    body
        {
            background-color: red;
        }
    .container 
    {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas:
            'aside'
            'aside'
            'header'
            'main'
            'footer';
        margin-bottom: 80px;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) and (max-width: 1000px) 
{
    nav
        {
            height: 70px;
        }
    nav ul
        {
            font-size:25px;
        }
    nav li a
        {
            padding: 20px 20px;
        }
    h1 
        {
            font-size: 40px;
        }
    body
        {
            background-color: green;
        }
    .container 
        {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr;
            grid-template-areas:
                'aside'
                'aside'
                'header'
                'main'
                'footer';
            margin-bottom: 80px;
        }
            
}