@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap') ;

body 
    {   
        background-color: white; 
        font-family: "Edu NSW ACT Foundation", bold;
        margin: 0;
        padding: 0;
    }

/* BARRA DE NAVEGAÇÃO */
header li 
    {
        display: inline;
        float:right;
    }

header ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        font-size: 25px;

        /* fixa a barra ao topo */
        position: fixed;
        top: 0;
        width: 100%;

        background-color: #D9D9D9;
        outline-width: 3px;
        outline-color: black;
        outline-style: solid;
    }

header li a {
        display: block;
        text-align: center;
        padding: 20px 20px;
        text-decoration: none;
        color:black
    }  

header li a:hover 
    {
        background-color: rgb(197, 196, 196);
    }

header li a:visited 
    {
        color: black;
    }

/* TEXTO */
h1
    {
        text-align: right; 
        font-size: 40px; 
        margin:5%;
    }

h2
    {
        text-align: right;
    }

h3
    {
        text-align: left;
    }

h4
    {
        text-align: right;
    }

p
    {
        text-align: right;
    }


/* LISTAS */
ul
    {
        list-style-type: circle;
        list-style-position: outside;
    }

ul ul
    {
        list-style-type: disc;
    }

/* IMAGEM */
img
    {   
        float: left;
        margin-left: 100px;
        margin-right: 50px;
        width: 300px;
    }



/* RODAPÉ */
footer
    {
        margin-top: 50px;

        /* linha que separa o footer do resto */
        outline-width: 2px;
        outline-color: black;
        outline-style: solid;
        outline-offset: 20px;
    }

footer p
    {
        text-align: center;
    }