@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap') ;

*
{
    margin-left: 50px;
    margin-right: 50px; 
}
body 
    {   background-color: white; 
        font-family: "Edu NSW ACT Foundation", bold;
    }

header 
    {   text-align: center;
        margin-bottom: 4em;
        margin-top: 2em;
        position:sticky;
    }

nav li 
    {
        display: inline;
        margin-left: 20px;
        font-size: 15px;
    }

a 
    { font-size: 1.5em; }

a:link
    { color: black; text-decoration: none; }

a:hover
    { color: blue; text-decoration: underline; }

h1
    {
        text-align: right; 
        font-size: 95px; 
    }

h2
    {
        text-align: center;
    }

h3
    {
        text-align: right;
        font-size: 30px;
    }

h4
    {
        text-align: center;
    }

p
    {
        text-align: center;
    }

figure 
    {
      width: 25%;
      
      float: left;
      
      margin-top: 20px;
      margin-left: 20px;
    }

figure img 
    {
      width: 100%;
    }
    
    
figcaption 
    {
      text-align: center
    }

footer
    {
        margin-top: 50px;
        outline-width: 3px;
        outline-color: black;
        outline-style: solid;
        outline-offset: 20px;
    }