*{margin: 0; padding:0;}
body{background-color: white;}
.container
  {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 400px repeat(2, 1fr);
    grid-template-areas:
      'aside header header'
      'aside main footer';
    background-color: blue;
    margin-left: 50px;
    margin-right: 50px;
  }

.imagem
  {
    background-color: aqua;
    padding: 20px;
    grid-area: aside;
    justify-content: center;
  }

.imagem>article>img
  {
    width:100%;
  }

.intro
  {
    background-color: pink; 
    padding: 20px;
    grid-area: header;
  }
.intro>article
  {
    float: right;
  }

.lista
  {
    background-color: plum;
    padding:20px;
    grid-area: main;
  }
.lista>article
  {
    float:right
  }
.programas
  {
    background-color: orange;
    padding:20px;
    grid-area: footer;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    align-content: flex-start; 
    gap: 5%
  }
  
  @media (min-width: 0px) and (max-width: 500px)  {
    body{background-color: green;}
    .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      grid-template-areas:
      'aside'
      'aside'
      'header'
      'main'
      'footer';
    }
    

  }
  
  @media (min-width: 500px) and (max-width: 1000px) {
    body{background-color: red;}
    .container {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }
  }