@import url('https://fonts.googleapis.com/css2?family=Edu+NSW+ACT+Foundation:wght@400..700&display=swap') ;

* 
{
    margin: 0px;
    padding: 0px;
}

/* COR DO WEBSITE E TIPOGRAFIA */
body 
    {   
        background-color: white; 
        font-family: "Edu NSW ACT Foundation", bold;
    }

/* LINKS */
a:link { color: rgb(0, 0, 0); text-decoration: none; }
a:hover { color: rgb(0, 0, 0); text-decoration: none; }
a:active { color: rgb(0, 0, 0); text-decoration: none; }
a:visited { color: rgb(0, 0, 0); text-decoration: none; }

/* BARRA DE NAVEGAÇÃO */
nav 
{
    position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 70px;

        background-color: #D9D9D9;
        outline-width: 3px;
        outline-color: black;
        outline-style: solid;
}

li 
    {
        display: inline;
        float:right;
    }

ul {
        list-style-type: none;
        font-size: 25px;
    }

li a {
        display: block;
        text-align: center;

        text-decoration: none;
    }  

li a:hover 
    {
        background-color: rgb(197, 196, 196);
    }


/* TEXTO */
h1
    {
        text-align: right; 
        font-size: 40px; 
        margin-right: 50px;
        margin-top: 120px;
        margin-bottom: 50px;
    }

/* GALERIA */
section
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        align-content: flex-start; 
        gap: 2%;
        margin: 50px;
    }

section>a 
    {
        flex-basis: 23%;
    }

section>a>figure 
    {
        width: 100%;
        margin-bottom: 20px;
    }

main>section>a>figure>img 
{
    width: 100%;
}

figcaption 
    {
      text-align: center;
      color: black;
    }

/* RODAPÉ */
footer
    {
        margin-top: 90px;
        margin-bottom: 20px;

        /* linha que separa o footer do resto */
        outline-width: 2px;
        outline-color: black;
        outline-style: solid;
        outline-offset: 20px;
    }

footer p
{
    text-align: center;
}

/* ------ RESPONSIVE LAYOUTS ------ */

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) 
{
    nav
        {
            height: 55px;
        }
    ul
        {
            font-size:20px;
        }
    li a
        {
            padding: 15px 15px;
        }
    h1 
        {
            font-size: 30px;
        }
    section
        {
            flex-direction: column;
        }
    body
        {
            background-color: red;
        }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) 
{
    nav
        {
            height: 70px;
        }
    ul
        {
            font-size:25px;
        }
    li a
        {
            padding: 20px 20px;
        }
    h1 
        {
            font-size: 40px;
        }
    section
        {
            flex-direction:row;
        }
    body
        {
            background-color: green;
        }
    
}